<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.gongza.simplegs">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="com.gongza.simplegs.ActivityDemolist"/>
        <activity android:name="com.gongza.simplegs.activity.data.ActivityPreferencesManager"/>
        <activity android:name="com.gongza.simplegs.activity.data.ActivityAcache"/>
        <activity android:name="com.gongza.simplegs.activity.data.ActivityEncryptAES"/>
        <activity android:name="com.gongza.simplegs.activity.data.ActivityRxAndroid"/>
        <activity android:name="com.gongza.simplegs.activity.data.ActivityRetrofit"/>
        <activity android:name="com.gongza.simplegs.activity.layout.ActivitySwipeLayout"/>
        <activity android:name="com.gongza.simplegs.activity.layout.ActivitySwipeScroview"/>
        <activity android:name="com.gongza.simplegs.activity.layout.ActivityTextSwithView"/>
    </application>
    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>